.footer {
	text-align: center;
	color: #FFF;
	a {
		color: #FFF;
	}
	@include mq(desktop) {
		float: left;
		width: 100%;
	}
	&__block {
		margin: 0 0 20px;
		@include mq(desktop) {
			display: inline-block;
			width: 50%;
			float: left;
		}
	}
	&--video {
		@include mq(tablet) {
			position: absolute;
			width: 100%;
			bottom: -340px;
		}
	}
}
.social {
	float: right;
	&__item {
		font-size: 2em;
		float: left;
		margin: 0 20px 0 0;
	}
}
.credits {
    font-size: 10px;
    text-transform: uppercase;
    padding: 10px 20px 0;
    color: #FFF;
    letter-spacing: 1px;
    text-align: center;
    @include mq(tablet) {
      position: fixed;
      right: 0px;
      bottom: 5px;
    }
}
.copyright {
  font-size: 10px;
    text-transform: uppercase;
    padding: 10px 20px;
    color: #FFF;
    letter-spacing: 1px;
    text-align: center;
}
