.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: #FFF;
	@include mq(tablet) {
		background: rgba(250,250,250, .9);
	}
	@include mq(desktop) {
		background: transparent;
	}
	&__inner {
		position: relative;
		padding: 0 20px;
	}
	&__logo {
		background: url(../assets/build/tt-logo-black.svg) no-repeat;
		display: block;
		width: 144px;
		height: 60px;
		background-size: 144px 60px;
		text-indent: -9999em;
		margin: 10px 0;
		transition: all .3s ease-in-out;
		@include mq(wide) {
			width: 288px;
			height: 120px;
			background-size: 288px 120px;
		}
	}
	.button--primary {
		position: absolute;
		right: 45px;
		top: 10px;
	}
	.button--secondary {
		position: absolute;
		right: 265px;
		top: 10px;
		display: none;
		@include mq(tablet) {
			display: inline-block;
		}
	}
}
