.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	background: #333;
	@include mq(tablet) {
		background: #333;
	}
	@include mq(desktop) {
		background: transparent;
	}
	&__inner {
		position: relative;
		padding: 0 20px;
	}
	&__logo {
		background: url(../assets/build/tt-logo-white.svg) no-repeat;
		display: block;
		width: 144px;
		height: 60px;
		background-size: 144px 60px;
		text-indent: -9999em;
		margin: 5px 0;
		transition: all .3s ease-in-out;
		@include mq(wide) {
			width: 288px;
			height: 120px;
			background-size: 288px 120px;
		}
    @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
      width: 288px;
      height: 120px;
      background-size: 288px 120px;
    }

	}
	.button--primary {
		position: absolute;
		right: 20px;
		top: 10px;
	}
	.button--secondary {
		position: absolute;
		right: 265px;
		top: 10px;
		display: none;
		@include mq(tablet) {
			display: inline-block;
		}
	}
}
