.nav {
	position: fixed;
	@include transition (all .3s ease-in-out);
	z-index: 8888;
	background-color: rgba(250,250,250,.9);
	width: 100%;
	top: 80px;
	text-align: center;
	padding: 0 0 12px;
	transform:translate(0px,-100%);
	visibility: hidden;
	@include mq(tablet) {
		padding: 0;
		transform:translate(0px,-80px);
	}
	&.active {
		@include transition (all 1s ease-in-out);
		transform:translate(0px,0px);
		visibility: visible;
	}
	&__toggle {
		position: absolute;
		top: 0px;
		right: -16px;
		display: block;
		width: 60px;
		height: 60px;
		color: #fff;
		text-align: center;
		line-height: 60px;
		outline: 0;
		z-index: 9999;
	  	overflow: hidden;
	  	font-size: 0;
	  	text-indent: -9999px;
	  	cursor: pointer;
	  	transition: background 0.3s, box-shadow 0.3s;
		span {
			display: block;
		  	position: absolute;
		  	top: 27px;
		  	left: 16px;
		  	right: 16px;
		  	height: 3px;
		  	background: #fff;
		  	transition: background 0s 0.3s;
		  	&:before, &:after {
		  		position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 3px;
				background-color: #fff;
				content: "";
				transition-duration: 0.3s, 0.3s;
				transition-delay: 0.3s, 0s;
				transition-property: top, transform;
		  	}
		  	&:before {
		  		top:-9px;
		
		  	}
		  	&:after {
				bottom: -9px;
		   		transition-property: bottom, transform;
		  	}
		}
		&.active {
			span {
			  background: none;
			}

			span::before {
			  top: 0;
			  transform: rotate(45deg);
			}

			span::after {
			  bottom: 0;
			  transform: rotate(-45deg);
			}

			span::before,
			span::after {
			  transition-delay: 0s, 0.2s;
			}
		}
	}
	&__menu {
		position: relative;
		width: 100%;
		@include mq(tablet) {
			max-width: 1026px;
			margin: 0 auto;
		}
	}
	&__close {
		display: none;
		@include mq(tablet) {
			display: block;
			float: left;
			height: 15px;
			width: 100%;
			background: $body-bg;
			content: '^';
			color: $brand-primary;
			line-height: 15px;
			cursor: pointer;
			@include transition (all .3s ease-in);
			&:hover {
				background-color: darken($body-bg, 10%);
				color: darken($brand-primary, 10%); 
			}
		}
	}
	&__item {
		float: left;
		width: 100%;
		@include mq(tablet) {
			width: 25%;
			&:last-child {
				display: none;
			}
		}
		&:last-child, &:nth-child(4) {
			.nav__link{
				border-bottom: none;
			}
		}
	}
	&__link {
		display: block;
		background: transparent;
		padding: 20px 0;
		width: 100%;
		margin: 0 auto;
		border-bottom: 1px solid #ECF0F1;
		color: #333;
		@include transition (all .3s ease-in);
		@include mq(tablet) {
			border-bottom: none;
			border-right: 1px solid #ECF0F1;
		}
		&:hover {
			background: #FFF;
		}
	}
}
