body {
	font-family: $sans-serif;
}
a {
	text-decoration: none;
  text-transform: uppercase;
  @include transition(all .3s ease-in);
}

h1 {
  font-size: 1.5em;
}
.title {
	font-family: $semibold;
	text-transform: uppercase;
	margin: 0 0 10px;
}