//
// Variables
// --------------------------------------------------


//== Colors
$green:					       #27ae60;
$light-grey:			     #DADFE1;

$brand-primary:         #428bca;
$brand-success:         $green;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;


//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            #555;
//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);

@font-face {
  font-family: 'gilroyextrabold';
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"), url("fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'gilroylight';
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"), url("fonts/gilroy-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal
}
@font-face {
    font-family: "gilroybold";
    src: url('../fonts/gilroy_bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'gilroysemibold';
    src: url('../fonts/gilroy_semi_bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy_semi_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

$sans-serif:  'gilroylight', Helvetica, Arial, sans-serif;
$serif:       Georgia, "Times New Roman", Times, serif;
$extrabold:	 'gilroyextrabold';
$bold:       "gilroybold";
$semibold:   'gilroysemibold';



