.section--video {
  background: transparent;
   @include mq(tablet) { 
      height: 100vh;
    }
  
  .title {
    font-size: 20px;
    line-height: 1.2;
    @include mq(wide) {
      
    }
  }
  .section__inner {
    @include mq(tablet) {  
      position: absolute;
      bottom: 0;
      width: 33vh;
      bottom: 30px;
      background: rgba(250,250,250,.9);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    .caption {
      @include mq(wide) {
        text-align: left;
      }
       @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
        text-align: left;
      }
    }
    @include mq(wide) {
      background: transparent;
      top: 25vh;
      color:#FFF;
      text-align: left;
    }
    @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
      background: transparent;
      top: 25vh;
      color:#FFF;
      text-align: left;
    }
    h1 {
      text-transform: capitalize;
      @include mq(wide) {
        font-size: 40px;
      }
       @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {
        font-size: 40px;
      }
    }
    p {
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

}

video { 
  padding-top:80px;
  width: 200%;
  vertical-align: top;
  margin-left: -50%;

    @include mq(tablet) {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: #333 no-repeat;
      background-size: cover;
      transition: 1s opacity;
      vertical-align: middle;
      margin-left: 0%;
    }
    @include mq(wide) {
      padding: 0;
    }
}
.stopfade { 
   opacity: .5;
}